
<EditForm Model="Pelicula" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label class="form-label">Titulo</label>
        <InputText class="form-control" @bind-Value="@Pelicula.Titulo" />
        <ValidationMessage For="@(() => Pelicula.Titulo)" />
    </div>
    <div class="mb-3">
        <label class="form-label">En Cartelera</label>
        <InputCheckbox @bind-Value="@Pelicula.EnCartelera" />
        <ValidationMessage For="@(() => Pelicula.EnCartelera)" />
    </div>
    <div class="mb-3">
        <label class="form-label">Trailer</label>
        <InputText class="form-control" @bind-Value="@Pelicula.Trailer" />
        <ValidationMessage For="@(() => Pelicula.Trailer)" />
    </div>
    <div class="mb-3">
        <label class="form-label">Fecha Lanzamiento</label>
        <InputDate class="form-control" @bind-Value="@Pelicula.Lanzamiento" />
        <ValidationMessage For="@(() => Pelicula.Lanzamiento)" />
    </div>
    <div class="form-group form-markdown">
        <InputMarkDown @bind-Value="@Pelicula.Resumen"
                       For="@(() => Pelicula.Resumen)"
                       Label="Resumen" />
    </div>
    <div class="form-group mb-3">
        <InputImg Label="Foto" ImagenSeleccionada="ImagenSeleccionada" ImagenURL="@posterTemporal" />
    </div>

    <div class="mb-3">
        <label class="form-label">Generos</label>
        <SelectorMultiple Seleccionados="Seleccionados" NoSeleccionados="NoSeleccionados" />
    </div>

    <button class="btn btn-success" type="submit">Guardar Cambios</button>
</EditForm>

@code {
    [Parameter] public Pelicula Pelicula { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    [Parameter] public List<Genero> GenerosSeleccionados { get; set; } = new List<Genero>();
    [Parameter] public List<Genero> GenerosNoSeleccionados { get; set; } = new List<Genero>();
    string posterTemporal;
    List<SelectorMultipleModel> Seleccionados { get; set; } = new List<SelectorMultipleModel>();
    List<SelectorMultipleModel> NoSeleccionados { get; set; } = new List<SelectorMultipleModel>();

    protected override void OnInitialized()
    {
        Seleccionados.AddRange(from Genero genero in GenerosSeleccionados
                                 select new SelectorMultipleModel
                                 {
                                     LLave = genero.Id.ToString(),
                                     Valor = genero.Nombre
                                 });

        NoSeleccionados.AddRange(from Genero genero in GenerosNoSeleccionados
                                 select new SelectorMultipleModel
                                 {
                                     LLave = genero.Id.ToString(),
                                     Valor = genero.Nombre
                                 });

        if (!string.IsNullOrWhiteSpace(Pelicula.Poster))
        {
            posterTemporal = Pelicula.Poster;
            Pelicula.Poster = null;
        }
        base.OnInitialized();
    }

    private void ImagenSeleccionada(string imagenBase64)
    {
        Pelicula.Poster = imagenBase64;
    }
}
